@import url(http://fonts.googleapis.com/css?family=Lato);

h1.title{
	color: #f1c40f;
	text-shadow:1px 1px 0px #e67e22,2px 2px 0px #e67e22,3px 3px 0px #e67e22;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 60px;
}

.button1{
	color: #fff;
	background: #bdc3c7;
	padding: 5px 12px;
	border-radius: 4px;
	border-bottom: 4px solid;
	border-color: #95a5a6;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 0.1s linear;
	transition: 0.1s linear;
}

.button1:hover , .button1:focus{
	color: #fff;
	text-decoration: none;
	background: #ACB4B9;
}

.button1:active{
	position: relative;
	border-bottom: 2px solid;
	border-color:#95a5a6;
	top: 2px;
}

.green{background: #2ecc71;border-color:#27ae60;}
.green:hover , .green:focus{background:#2CC06B;}
.green:active{border-color: #27ae60;}

.blue{background: #3498db;border-color:#2980b9;}
.blue:hover , .blue:focus{background:#258FD6;}
.blue:active{border-color: #2980b9;}

.red{background: #e74c3c;border-color:#c0392b;}
.red:hover , .red:focus{background:#E43825;}
.red:active{border-color: #c0392b;}

.button2{
	color: #fff;
	background: #bdc3c7;
	padding: 7px 10px;
	border-radius: 0px 5px 5px 0px;
	border-left: 4px solid #fff;
	text-align: center;
	cursor: pointer;
	-webkit-transition: 0.1s linear;
	transition: 0.1s linear;
}

.button2:hover , .button2:focus{
	color: #fff;
	text-decoration: none;
	background: #ACB4B9;
}

.button2:active{
	background: #A3ACB1;
}

.pink{
	background: #9E306C;
}

.pink:hover , .pink:focus{
	background: #822658;
}

.pink:active{
	background: #762351;
}

input[type="text"]{
	border-radius: 3px;
	border: 3px solid #fff;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	padding: 4px 6px;
	height: 20px;
	display: inline-block;
}

input[type="text"]:focus{
	border-color: #2980b9;
}